[submodule "vim/.vim/bundle/todo"]
	path = vim/.vim/bundle/todo
	url = http://github.com/neochrome/todo.vim.git
[submodule "vim/.vim/bundle/bats.vim"]
	path = vim/.vim/bundle/bats.vim
	url = https://github.com/vim-scripts/bats.vim.git
[submodule "vim/.vim/bundle/vim-git"]
	path = vim/.vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-puppet"]
	path = vim/.vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-easy-align"]
	path = vim/.vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/taskli"]
	path = vim/bundle/taskli
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/.vim/bundle/TaskList.vim"]
	path = vim/.vim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
