[submodule "vim/.vim/bundle/todo"]
	path = vim/.vim/bundle/todo
	url = http://github.com/neochrome/todo.vim.git
[submodule "vim/.vim/bundle/bats.vim"]
	path = vim/.vim/bundle/bats.vim
	url = https://github.com/vim-scripts/bats.vim.git
[submodule "vim/.vim/bundle/vim-git"]
	path = vim/.vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-puppet"]
	path = vim/.vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
